/* Dot Styles */
.dot {
  position: fixed;
  z-index: 50;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #1f2937;
  font-family: monospace;
  font-size: 12px;
  color: #ffffff;
  transition: width 0.5s ease;
  box-shadow: 6px 6px 35px -8px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 6px 6px 35px -8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 6px 6px 35px -8px rgba(0, 0, 0, 0.35);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .dot {
    background-color: #ffffff;
    color: #1f2937;
  }
}

.dot:active {
  transform: scale(0.85);
  transition: transform 0.5s ease;
}

.dot-bottom-left {
  bottom: 16px;
  left: 16px;
}

.dot-bottom-right {
  bottom: 16px;
  right: 16px;
}

.dot-top-left {
  top: 16px;
  left: 16px;
}

.dot-top-right {
  top: 16px;
  right: 16px;
}

.dot-full {
  width: 150px;
  cursor: pointer;
  transition: width 0.5s ease;
}

.dot-full-mode {
  outline: solid 3px rgb(90, 164, 207);
  outline-offset: -3px;
}

.dot-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}
