/* Dot Styles */
.dot {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 50;
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #1f2937;
    padding: 0.75rem;
    font-family: monospace;
    font-size: 0.75rem;
    color: #ffffff;
    transition: width 0.5s ease;
}

.dot:hover {
    width: 8rem;
    /* cursor: pointer; */
    transition: width 0.5s ease;
}

.dot-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: hidden;
}

/* Hide by Default */
.dot-sm,
.dot-md,
.dot-lg,
.dot-xl,
.dot-2xl {
    display: none;
}

/* Media Queries */
@media (min-width: 640px) {
    .dot-sm {
        display: block;
    }
    .dot-xs {
        display: none;
    }
}
@media (min-width: 768px) {
    .dot-md {
        display: block;
    }
    .dot-xs,
    .dot-sm {
        display: none;
    }
}

@media (min-width: 1024px) {
    .dot-lg {
        display: block;
    }
    .dot-xs,
    .dot-sm,
    .dot-md {
        display: none;
    }
}

@media (min-width: 1280px) {
    .dot-xl {
        display: block;
    }
    .dot-xs,
    .dot-sm,
    .dot-md,
    .dot-lg {
        display: none;
    }
}

@media (min-width: 1536px) {
    .dot-2xl {
        display: block;
    }
    .dot-xs,
    .dot-sm,
    .dot-md,
    .dot-lg,
    .dot-xl {
        display: none;
    }
}
