/* Dot Styles */
.dot {
  position: fixed;
  bottom: 16px;
  left: 16px;
  z-index: 50;
  display: flex;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #1f2937;
  font-family: monospace;
  font-size: 12px;
  color: #ffffff;
  transition: width 0.5s ease;
}

.dot:hover {
  width: 160px;
  cursor: pointer;
  transition: width 0.5s ease;
}

.dot-info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}
